.chat-content
  .chat-content__user
    %h1 
      = current_user.name
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path do
      %i.fa.fa-cog

  .chat-content__group
    = render partial: 'layouts/group', collection: @groups
.chat-main
  .chat-main__header
    %h1
      =@group.name
    %h2
      MEMBER:=
      - @users.each do |user|
        = user.name 
    = button_to 'Edit', edit_group_path(@group), class: 'edit-btn', method: :get
  .chat-main__content
  
    .message_list
      = render partial: 'message', collection: @messages
      
  .chat-main__input
    = form_for [@group, @message], html: { class: "form js-message" } do |f|
      = f.text_field :body, class: "message-box", placeholder: 'メッセージを入力してください'
      %label.chat-footer__file
        = f.file_field :image
        %i.fa.fa-picture-o
      = f.submit "Send", class: "send-btn"
