= render 'layouts/flash'
.chat-content
  .chat-content__user
    %h1 
      = current_user.name
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path do
      %i.fa.fa-cog

  .chat-content__group
    %ul
    - @groups.each do |group|
      = link_to new_group_message_path(group) do 
        %li
          .group-name
            = group.name
          .group-message
            発言
  
.chat-main
  .chat-main__header
    %h1
      =@group.name
    %h2
      MEMBER:=
      - @users.each do |user|
        = user.name 
    = button_to 'Edit', edit_group_path(@group), class: 'edit-btn', method: :get
  .chat-main__content
  
    .message_list
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 
      .message
        .chat-main__content__name
          中田英寿  
        .chat-main__content__create-time
          2017/1/1 11:11:11
        .chat-main__content__message
          サッカーサッカーサッカー 

  .chat-main__input
    %input.message-box{ type: :text }

    %i.fa.fa-picture-o
    
    %input.send-btn{ type: :submit, value: "send" }
 